<div class="Form">
  <div *ngIf="!displayGroupChat" class="joinChatContainer">
    <h1>Kahoot!</h1>
    <input type="text" placeholder="Student Name" [(ngModel)]="student" />
    <input
      type="text"
      placeholder="Enter PIN"
      [(ngModel)]="studyGroup"
      (keydown.enter)="onJoinChat()"
    />
    <button (click)="onJoinChat()">Join Study Group</button>
  </div>

  <app-chat
    *ngIf="displayGroupChat"
    [socket]="socket"
    [student]="student"
    [studyGroup]="studyGroup"
  ></app-chat>
</div>
